/*
Marrón semi oscuro:  #5F464B;
Marrón:  #8E4A49;
Verde semi oscuro:  #8E4A49;
Verde alegre: #80FFEC;
Verde mas claro: #C2FBEF;
*/

html {
	font-family: 'Josefin Sans', sans-serif;
}

.container {
	background: #283c86;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.content {
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.red {
	height: 200px;
	width: 100px;
	background-color: red;
}

#boton-pago {
	background-color: yellow;
}

td {
	border: solid 1px;
}