/*
Marrón semi oscuro:  #5F464B;
Marrón:  #8E4A49;
Verde semi oscuro:  #8E4A49;
Verde alegre: #80FFEC;
Verde mas claro: #C2FBEF;
Azul:  #283c86;
*/

html {
	font-family: 'Josefin Sans', sans-serif;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #283c86;
}

a:hover {
	opacity: 0.8;
}

.title {
	text-transform: uppercase;
	text-align: center;
}

.container {
	background: #283c86;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

}

.content {
	max-width: 960px;
	width: 100%;
	height: 80vh;
	background-color: #fff;
	box-shadow: 0 3px 6px #000;
	border-radius: 4px;
	position: relative;
	overflow:  scroll;
}

.content {
	padding: 1em;
}

td {
	display: block;
	width: 100%;
}

td:nth-of-type(1) {
	font-size: 1.5em;
	font-weight: bold;
	color: #283c86;
}

th {
	display: none;
}

.actions {
	position: absolute;
	top: 1em;
	right: 1em;
}

.close {
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 50%;
	background-color: #283c86;
	display: inline-block;
	font-weight: 300;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.paragraph {
	line-height: 1.8em;
	font-weight: 300;
}

.fa-star {
	color: #ffc400;
}

.table {
	width: 100%;
	border-spacing: 0;
}

.table td, .table th {
	padding: 1em;
	text-align: left;
}

.table tr:nth-child(even){
	background-color: #C2FBEF;
}

.title-item {
	/*border-bottom-style: solid;
	border-width: 2px;
	border-color: #283c86;*/
	border-bottom: solid 2px #283c86;
	padding-bottom: 1em;
	font-size: 2em;
}

.address {
	font-weight: bold;
	color: #283c86;
	font-size: 1.2em;
	margin-top: 2em;
	display: inline-block;
}

.main-image {
	float: left;
	margin-right: 1em;
	height: 250px;
}

.position {
	background-color: #283c86;
	color: white;
	padding: 0.5em;
	border-radius: 4px;
	margin-right: 0.5em;
}

@media(min-width:900px) {
	th {
		display: table-cell;
	}

	td {
		width: auto;
		display: table-cell;
	}

	td:nth-of-type(1) {
		font-size: 1em;
	}

	.content {
		padding: 1.8em;
	}
}

@media(min-height:550px) {
	.content {
		height: 500px;
	}
}